apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  labels:
    app: otel-collector
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4319

    processors:
      memory_limiter:
        check_interval: 1s
        limit_mib: 512
      batch:
      resource:
        attributes:
          - key: service.environment
            value: production
            action: upsert

    exporters:
      loki:
        endpoint: http://loki:3100/loki/api/v1/push

      otlp/jaeger:
        endpoint: "http://jaeger:14268/api/traces"
        tls:
          insecure: true

      prometheus:
        endpoint: "0.0.0.0:8889"

      logging:
        loglevel: info

    extensions:
      health_check:
        endpoint: 0.0.0.0:13133

    service:
      extensions: [health_check]
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, batch, resource]
          exporters: [otlp/jaeger, logging]

        metrics:
          receivers: [otlp]
          processors: [memory_limiter, batch, resource]
          exporters: [prometheus, logging]

        logs:
          receivers: [otlp]
          processors: [memory_limiter, batch, resource]
          exporters: [loki, logging]
