apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
    - job_name: "otel-demo-app"
      static_configs:
      - targets: ["otel-demo-app:5000"]

    - job_name: "otel-collector"
      static_configs:
      - targets: ["otel-collector:8889"]
